
@{
    ViewBag.Title = null; // asi no use el layout
}

<h2 style="text-align: center">Equipos por departamento</h2>

@foreach (var Depto in ViewData["departamentos"] as IList<departamentos>)
{
    <h2>@Depto.nombre</h2>




    <div class="table-responsive" id="tablaEquipos">
        <table class="table">
            <thead id="tEquipos-header">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Departamento</th>
                    <th>Fecha de Adquisición</th>
                    <th>Cantidad de Cambios</th>
                    <th>Usuario Asignado</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var equipo in ViewData["equipos"] as IList<equipos>)
                {

                    if (equipo.departamentos != null)
                    {
                        if (equipo.departamentos.nombre.Equals(Depto.nombre))
                        {


                            <tr>
                                <td>@equipo.idEquipo</td>
                                <td>@equipo.nombre</td>

                                <td>@equipo.tipoEquipos.descripcion</td>
                                @if (equipo.departamentos == null)

                                {
                                    <td>-</td>
                                }
                                else
                                {
                                    <td>@equipo.departamentos.nombre</td>
                                }

                                <td>@equipo.fecCompra.Date</td>
                                <td>
                                    @equipo.historialCambios.Count
                                </td>
                                @if (equipo.usuarios.Count > 0)
                                {
                                    <td>
                                        @equipo.usuarios.ElementAt(0).nickname

                                    </td>
                                }

                            </tr>
                        }

                    }
                }
            </tbody>

        </table>


    </div>
}

<hr>

<h2>Libres</h2>

<div class="table-responsive" id="tablaEquipos">
    <table class="table">
        <thead id="tEquipos-header">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Departamento</th>
                <th>Fecha de Adquisición</th>
                <th>Cantidad de Cambios</th>
                <th>Usuario Asignado</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var equipo in ViewData["equipos"] as IList<equipos>)
            {

                if (equipo.departamentos == null)
                {


                    <tr>
                        <td>@equipo.idEquipo</td>
                        <td>@equipo.nombre</td>

                        <td>@equipo.tipoEquipos.descripcion</td>
                        @if (equipo.departamentos == null)

                        {
                            <td>Libre</td>
                        }
                        else
                        {
                            <td>Libre</td>
                        }

                        <td>@equipo.fecCompra.Date</td>
                        <td>
                            @equipo.historialCambios.Count
                        </td>
                        <td>
                            -

                        </td>
                    </tr>
                }


            }
        </tbody>

    </table>


</div>