<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
</head>

<body id="page-top">

    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><img style="width: 39px;height: 30px;"></div>
                    <div class="sidebar-brand-text mx-3"><span>SGEI</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="Index"><span style="font-size: 20px;">Equipo Informático</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="proveedores"><span style="font-size: 20px;">Proveedores</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Proveedores</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold" style="font-size: 20px;">Información de proveedores</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>Mostrar<select class="form-control form-control-sm custom-select custom-select-sm"><option value="10" selected="">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select>&nbsp;</label></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table dataTable my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th align="center" width="75px"></th>
                                            <th>CUIT</th>
                                            <th>Nombre</th>
                                            <th>Dirección</th>
                                            <th>Correo electrónico</th>
                                            <th>Teléfono</th>
                                            <th>Calificación</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var prov in ViewData["proveedores"] as IList<proveedores>)
                                        {
                                        <tr>

                                            <td><img src="@prov.logourl" width="50"></td>
                                            <td>@prov.cuit</td>
                                            <td>@prov.razSoc</td>
                                            <td>@prov.direccion</td>
                                            @if(prov.email == null) { <td>-</td> }
                                            else { <td>@prov.email</td> }    
                                            <td>@prov.telefono</td>
                                            <td>
                                                @for (int i = 0; i < @prov.calificacion; i++)
                                                {
                                                <img src="~/Content/img/Gold_Star.svg" width="25" />
                                                }
                                            </td>
                                        </tr>
                                        }


                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>Summary 1</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Sistema de Gestión de Equipo Informático - Administración de Recursos 2020</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>

</body>

</html>